body{
  background-color: white;
  text-align: center;
}

p{
  color: white;
  font-family: "Viga", "Times New Roman", serif;
  font-weight: 400;
  font-size: 14px;
}

img{
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

a{
  text-decoration: none;
}

#title1{
  font-family: "Barrio", "Times New Roman", serif;
  font-weight: 700;
  font-size: 32px;
  color: #BA443E;
}

#title2{
    font-family: "Barrio", "Times New Roman", serif;
    font-weight: 600;
    font-size: 24px;
    color: #631B3A;
}

#title3{
    font-family: "Barrio", "Times New Roman", serif;
    font-weight: 400;
    font-size:20px;
    color: #E33D84
}

#container{
  background-color: #EBADB4;
  
}


#nav {
  padding: 0;
	list-style-type: none;
  display: flex;
  flex-direction: column;
}

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: minmax(150px, auto);
    gap: 5px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

}


.cards li {
    background-color: #6fb2bf;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    font-family: "Barrio", "Times New Roman", serif;
    color: white;
}


@media (min-width:600px){
  #nav{
   flex-direction:row;
   justify-content:space-around;
  }


#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
	  text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #25789C;
    background-color: #FF5E55;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: "Italiana", Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #BA443E;
}


#footer1 {
  color: brown;
  display: block;
  font-family: "Italiana", "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
